
    <mat-toolbar>
        <h1 style="font-weight: bold; color: blueviolet;"  >WELCOME TO HERO DATABASE</h1>
    </mat-toolbar>

<div style="margin: 5%;">
<div  fxLayoutGap="50px">
    <h1 style="font-weight: bold;">Heroes List Page</h1>                  
    <button  mat-raised-button > <a routerLink="/heroes/list" >
     Hero List
    </a>  </button>  
</div>
<br>
<hr>

<div  fxLayoutGap="50px" style="margin-top: 5%;">
    <h1 style="font-weight: bold;">Add Hero Page</h1>  
    <button  mat-raised-button > <a routerLink="/heroes/add">
    Add Hero 
     </a> </button>  
</div>
<br>
<hr>

<div  fxLayoutGap="50px" style="margin-top: 5%;">
    <h1 style="font-weight: bold;">Search Hero Page</h1>                  
    <button  mat-raised-button >  <a routerLink="/heroes/find">
    Search Hero
    </a> </button>  
</div> 
</div>




